@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Login";
}

<h2>Admin Login</h2>

<form asp-area="Admin" asp-controller="Employee" asp-action="Login" method="post">
    <div class="mb-3">
        <label>Username</label>
        <input class="form-control" name="username" required />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input class="form-control" type="password" name="password" required />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<script>
    // sử dụng lại channel đã được định nghĩa trong _Layout.cshtml
    const loginForm = document.querySelector('form');
    if (loginForm) {
        loginForm.addEventListener('submit', () => {
            // Gửi tín hiệu login cho các tab khác
            channel.postMessage('login');
            console.log('📡 Gửi sự kiện login sang các tab khác');
        });
    }
</script>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-2">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
